<?xml version="1.0"?>
<config>
    <modules>
        <Atol_Productfeedgenerator>
            <version>0.1.0</version>
        </Atol_Productfeedgenerator>
    </modules>
    <frontend>
        <routers>
            <productfeedgenerator>
                <use>standard</use>
                <args>
                    <module>Atol_Productfeedgenerator</module>
                    <frontName>productfeedgenerator_front</frontName>
                </args>
            </productfeedgenerator>
        </routers>
        <layout>
            <updates>
                <productfeedgenerator module="Atol_Productfeedgenerator">
                    <file>productfeedgenerator.xml</file>
                </productfeedgenerator>
            </updates>
        </layout>        
        <translate>
            <modules>
                <Atol_Productfeedgenerator>
                    <files>
                        <default>Atol_Productfeedgenerator.csv</default>
                    </files>
                </Atol_Productfeedgenerator>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>            
            <adminhtml>
                <args>
                    <modules>
                        <atol_productfeedgenerator before="Mage_Adminhtml">Atol_Productfeedgenerator_Adminhtml</atol_productfeedgenerator>
                    </modules>
                </args>
            </adminhtml>            
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productfeedgenerator>
                    <file>productfeedgenerator.xml</file>
                </productfeedgenerator>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <Atol_Productfeedgenerator>
                    <files>
                        <default>Atol_Productfeedgenerator.csv</default>
                    </files>
                </Atol_Productfeedgenerator>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <productfeedgenerator>
                <class>Atol_Productfeedgenerator_Block</class>
            </productfeedgenerator>
        </blocks>
        <models>
            <productfeedgenerator>
                <class>Atol_Productfeedgenerator_Model</class>
                <resourceModel>productfeedgenerator_mysql4</resourceModel>
            </productfeedgenerator>
            <productfeedgenerator_mysql4>
                <class>Atol_Productfeedgenerator_Model_Mysql4</class>
                <entities>
                    <productflow>
                        <table>productflow</table>
                    </productflow>
                </entities>
            </productfeedgenerator_mysql4>
        </models>
        <resources>
            <productfeedgenerator_setup>
                <setup>
                    <module>Atol_Productfeedgenerator</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productfeedgenerator_setup>
            <productfeedgenerator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productfeedgenerator_write>
            <productfeedgenerator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productfeedgenerator_read>
        </resources>
        <helpers>
            <productfeedgenerator>
                <class>Atol_Productfeedgenerator_Helper</class>
            </productfeedgenerator>
        </helpers>
    </global>
    <default>
        <rss>
            <productfeedgenerator>
                <active>0</active>
            </productfeedgenerator>
        </rss>
    </default>
</config>